<!DOCTYPE html>
<html>
	<head>
		<title>Error {{status}} - CtCrab</title>
		<link rel="stylesheet" href="/layout.css">
	</head>
	<body class="error-page">
		<div class="topbar">
			<h1><span class="icon">error</span> HTTP {{status}}</h1>
			<div>{{main_error}}</div>
		</div>

		{{#if has_cause}}
			<h2>Causes</h2>

			<ul>
				{{#each cause_chain}}
					<li>{{.}}</li>
				{{/each}}
			</ul>
		{{/if}}

		<h2>Version</h2>
		<div class="version">{{version}}</div>
	</body>
</html>
